{% extends 'blog/base.html' %} {% block content %}
<form method="POST">
    {% csrf_token %}
    <div class="form-search">
        <div class="search-with">
            <label for="searchWith">Search with:</label>
            <select id="searchWith" name="searchWith">
                {% for s in search %} 
                <option value="{{s.value}}"{% if s.value == searchWith %} selected{% endif %}>{{s.title}}</option>
                {% endfor %}
            </select>
        </div>
        <div class="input-search">
            <input
                type="text"
                placeholder="post search..."
                name="searchText"
                value="{{searchText}}"
            />
            <button type="submit">Search</button>
        </div>
    </div>
</form>
{% for post in posts %}
<article class="post">
    <div class="post-header">
        <h2>
            <a href="{% url 'post_detail' pk=post.pk %}">{{ post.title }}</a>
        </h2>
        <time class="date"> {{ post.published_date }} </time>
    </div>

    <p>{{ post.text|linebreaksbr }}</p>
</article>
{% endfor %} {% endblock %}
