{% extends 'blog/base.html' %} {% block content %}
<h2>New post</h2>
<form method="POST" class="post-form">
    {% csrf_token %}
    <label>Category:</label>
    <select id="category" name="category">
        {% for category in categories %}
        <option value="{{category.id}}" {% if category.id == categoryId %} selected{% endif %}>{{category.text}}</option>
        {% endfor %}
    </select>
    {{ form.as_p }}
    <button type="submit" class="save btn btn-default">Save</button>
</form>
{% endblock %}
