.page-header {
    background-color: #c25100;
    margin-top: 0;
    padding: 20px 20px 20px 40px;
}

.page-header .header {
    display: flex;
}

.page-header .header .auth {
    margin-left: auto;
    display: flex;
    align-items: center;
    color: #ffffff;
}

.page-header .header .auth .top-menu {
    margin: 0 15px 5px 0;
}

.page-header .header .auth .line {
    padding: 0 5px;
}

.page-header .header .auth .logout {
    color: #ffffff;
}

.page-header h1,
.page-header h1 a,
.page-header h1 a:visited,
.page-header h1 a:active {
    color: #ffffff;
    font-size: 36pt;
    text-decoration: none;
}

h1,
h2,
h3,
h4 {
    font-family: "Lobster", cursive;
    margin-bottom: 0;
}

.date {
    color: #828282;
}

.save {
    float: right;
}

.post-form textarea,
.post-form input {
    width: 100%;
}

.post-form button {
    background: #c25100;
    color: #ffffff;
    border: none;
    border-radius: 8px;
    padding: 7px 25px;
}

.top-menu,
.top-menu:hover,
.top-menu:visited {
    color: #ffffff;
    font-size: 26pt;
}

.post {
    margin-bottom: 70px;
    border-top: 1px solid #00000030;
    padding-top: 15px;
}

.post .post-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.post .post-header .post-title {
    font-family: "Lobster", cursive;
}

.post .post-header .button-group {
    display: flex;
    align-items: center;
}

.post .post-header .button-group time {
    padding-right: 20px;
}

.post h2 a,
.post h2 a:visited {
    color: #000000;
}

.post > .date,
.post > .actions {
    float: right;
}

.btn-default,
.btn-default:visited {
    color: #c25100;
    background: none;
    border-color: #c25100;
}

.btn-default:hover {
    color: #ffffff;
    background-color: #c25100;
}

.form-login {
    max-width: 500px;
    margin: 0 auto;
}

.form-login h2 {
    text-align: center;
}

.form-login input {
    margin-bottom: 10px;
}

input[type="text"],
input[type="password"],
textarea,
select {
    width: 100%;
    padding: 12px 20px;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type="submit"] {
    width: 100%;
    background-color: #4caf50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #45a049;
}

.form-search {
    display: flex;
    padding-bottom: 25px;
    align-items: center;
    justify-content: space-between;
    padding-top: 40px;
}

.form-search .search-group {
    display: flex;
}

.form-search .search-with {
    display: flex;
    align-items: center;
    padding-right: 10px;
}

.form-search .search-with label {
    margin-bottom: 0;
    padding-right: 5px;
}

.form-search .search-with select {
    max-width: 120px;
    padding: 14px 20px;
}

.form-search .input-search {
    display: flex;
}

.form-search .input-search input {
    margin-right: 5px;
    max-width: 300px;
}

.form-search .input-search button {
    background: #c25100;
    color: #ffffff;
    border: none;
    border-radius: 8px;
    padding: 0 25px;
}

.main {
    padding-top: 40px;
}

.menu {
    padding-top: 40px;
    background: #c25100;
    height: 100%;
}
